/* styles.css */

body {
  margin: 5%;
  text-align: center;
  font-family: 'Encode Sans Semi Expanded', sans-serif;
  opacity: 0;
  transition: none;
}

body.fade-in {
    opacity: 1;
    transition: 2s opacity;
}

#container {
  margin: 25% 0;
}

h1 {
  font-size: 3em;
  margin: 2% 0 5% 0;
}

.number {
  display: inline-block;
  height: 75px;
  width: 75px;
  border-radius: 100%;
  background: #d40f18;
  border: 1px solid #d40f18;
  color: #fff;
  margin: .5%;
  cursor: pointer;
}

.number span {
  position: relative;
  top: 27.5px;
}

#scaleLeft {
  float: left;
}

#scaleRight {
  float: right;
}

.scale {
  font-weight: bold;
  position: relative;
  top: 40px;
}

#thanks {
  font-weight: bold;
  font-size: 1.5em;
  margin: 30px 0 0 0;
}

/* Footer */
footer {
  position: fixed;
  bottom: 2.5%;
  left: 0;
  right: 0;
  margin: 5% auto 2.5%;
  width: 70%;
  font-size: .75em;
}

footer span a {
  color: #000;
}
